# OS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE Specific
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
.vscode
composer.lock
*.sublime-workspace
*.swp
*.swo

# Project Specific
/node_modules
*.log
/lib
tmp
.changelog
coverage/
.nyc_output/
.eslintcache
.env
.bak
.oldnestjs9wayproject
surrealdb.js
packages_fucked
packages_removed/exclude.tag
packages_removed/app-gql/src/common/dto/base-create-entity.input.ts
packages_removed/app-gql/src/common/dto/base-find-all.args.ts
packages_removed/app-gql/src/common/dto/base-update-entity.input.ts
packages_removed/app-gql/src/common/dto/index.ts
packages_removed/app-gql/src/common/dto/pagination.args.ts
packages_removed/app-gql/src/common/entities/base-entity.model.ts
packages_removed/app-gql/src/common/entities/index.ts
packages_removed/app-gql/src/common/resolvers/base.resolver.ts
packages_removed/app-gql/src/common/resolvers/index.ts
packages_removed/app-gql/src/common/services/base.service.ts
packages_removed/app-gql/src/common/services/index.ts
